#services__hero{
    height: 60vh;
    background-image: url('../../../../public/images/services/service-hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;

    p{
        font-size: 1.25rem;
        text-transform: capitalize;
        font-weight: 300;
    }
    h2{
        font-size: 2rem;
    }
}