#service-about{
        .service__about__container{
            grid-template-columns: repeat(2, 1fr);
            @include md{
                grid-template-columns: 1fr;
            }

            &__left{
                text-align: center;
                img{
                    width: 270px;
                    height: 270px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            &__right{
                span{
                    font-size: 1rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin-bottom: $m1;
                    display: block;
                }
                h2{
                    font-size: 2rem;
                    line-height: 1.3;
                    margin-bottom: $m2;
                }
                p{
                    color: #7e7d7d;
                    line-height: 1.9;
                }
            }
        }
}