.container{
    max-width: 1240px;
    width: calc(100% - 2rem);
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
}
.section{
    margin-top: 100px;
}

.btn{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    padding: 18px 50px;
    display: inline-block;
    transition: all .3s ease;
    letter-spacing: 2px;
    position: relative;

   

    &.white{
        border: 1px solid $white;
        color: $white;
        background-color: transparent;

           
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: -11px;
            width: 25px;
            height: 1px;
            background-color: $white;
            display: inline-block;

            
        }

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: -11px;
            width: 25px;
            height: 1px;
            background-color: $white;
            display: inline-block;

            
        }
       

        &:hover{
            border: 1px solid $white;
            background-color: $white;
            color: black;
        }
        &:hover::after, &:hover::before{
            background-color: black;
        }

     
    }
}