.container{
    max-width: 1240px;
    width: calc(100% - 2rem);
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
}
.section{
    margin-top: 100px;
}

.btn{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    padding: 18px 50px;
    display: inline-block;
    transition: all .3s ease;
    letter-spacing: 2px;
    position: relative;

   

    &.white{
        border: 1px solid $white;
        color: $white;
        background-color: transparent;

           
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: -11px;
            width: 25px;
            height: 1px;
            background-color: $white;
            display: inline-block;

            
        }

        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: -11px;
            width: 25px;
            height: 1px;
            background-color: $white;
            display: inline-block;

            
        }
       

        &:hover{
            border: 1px solid $white;
            background-color: $white;
            color: black;
        }
        &:hover::after, &:hover::before{
            background-color: black;
        }

     
    }
}

/* =============== projects content styles =============== */
.project__category__title{
    display: inline-block;
    padding: .75rem 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(rgb(0, 110, 236), 15%);
      transition: all .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
.project__data{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: left;
   img{
       width: 100%;
       height: 200px;
        margin-bottom: $m1;
        object-fit: cover;
   }
   &__body{
    padding: 1rem;
       h3{
            font-size: 1.25rem;
            text-transform: capitalize;
       }
       p{   
           font-size: 0.9rem;
           text-transform: capitalize;
           margin-bottom: $m1;
       }
       a{
           color: $black;
        text-transform: capitalize;
        font-size: 0.9rem;
        text-align: right;
        display: block;
        margin-bottom: $m1;
        transition:0.3s ease;

        &:hover{
            color: rgb(0, 110, 236);
        }
       }
   }
}