.footer__right{
    text-align: right;
    color: #00000099;

    h3{
        font-size: 1rem;
        color: $black;
        margin-bottom: $m3;
    }

    &__social{
        margin-top: $m3;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        
        a{
            width: 32px;
            height: 32px;
            font-size: .75rem;
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            background-color: #000;
            color: #fff;
            border: 1px solid $black;
            transition: all .3s ease-in-out;

            &:hover{
                background-color: $white;
                color: $black;
            }
        }
    }
}