@import './footerleft';
@import './footerright';

.footer{
    border-top: 1px solid #EBEBEB;
    padding: $p8 0;

    &__container{
        grid-template-columns: repeat(2, 1fr);

        @include md{
            grid-template-columns: 1fr;
        }
    }
}