.featured__projects{
    margin-top: 9.375rem;
    text-align: center;
    

    &__content{
        margin-top: $m8;
        grid-template-columns: repeat(auto-fit, minmax(228px, 370px));
        justify-content: center;
        align-items: center;

    }
}