.team__content {
    grid-template-columns: repeat(4, 1fr);
    @include lm{
        grid-template-columns: repeat(3, 1fr);
    }
    @include md{
        grid-template-columns: repeat(2, 1fr);
    }
    @include sm{
        grid-template-columns: 1fr;
    }
}

.team__data {
    text-align: initial;

    &__img {
        position: relative;
        cursor: pointer;
        margin-bottom: $m2;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            display: block;
            transition: all .3s ease-in-out;
            transform: scale(1);
        }
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-color: transparent;
            transition: all .3s ease-in-out;
            z-index: 2;
        }

        &:hover::before {
            background-color: rgba(0, 0, 0, .3);
        }       
        &:hover  img {
            transform: scale(1.1);
        }       
    }


    h3 {
        font-size: 20px;
        margin-bottom: $m1;
    }

    span {
        font-size: 15px;
        border-bottom: 2px solid #000;
        display: block;
        padding-bottom: $p1;

    }

    .team__social {
        margin-top: $m3;

        a {
            margin-right: $m2;
            display: inline-block;
            color: $black;
            font-size: 15px;
        }

    }
}