@import './sass/global/base';
@import './sass/global/variables';
@import './sass/global/mixins';
@import './sass/global/typography';
@import './sass/global/utils';
// reusable
@import './sass/components/reusable/reusable';

/* =============== Header =============== */
@import './sass/header/header.scss';
/* =============== Footer =============== */
@import './sass/footer/footer.scss';
/* =============== Single post =============== */
@import './sass/singlepost/singlepost';

/* =============== Pages =============== */
// home

@import './sass/components/home/home.scss';

// projects

@import './sass/components/projects/projects.scss';

// services

@import './sass/components/services/services';

// conctact

@import './sass/components/contact/contact';